*,
::after,
::before {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    font-size: 16px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
    font-weight: normal !important;
    letter-spacing: 0.3px;
}

label {
    color: #343a40;
}

h3,
h4,
h5,
h6 {
    font-size: 20px !important;
    font-weight: normal !important;
}

h3.form-title {
    font-size: 22px !important;
}

.error-text {
    font-size: 14px;
    margin-top: 2px;
}

.cover {
    object-fit: cover;
}

.header {
    position: relative;
    width: 100%;
    height: auto;
    color: #ffffff;
}

.header__img-bg {
    width: 100%;
    height: 100vh;
}

.header__above-img {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
}

.header__icon {
    width: 30px;
}

.user-anchor {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.header .social-title {
    font-size: 65px;
}

button.custom-btn-light {
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    padding: 5px 30px;
    border-radius: 0px;
}

.modal-content {
    border-radius: 0px !important;
    background-color: whitesmoke !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.form-control {
    border-radius: 0px !important;
}

.btn {
    border-radius: 0px !important;
}

.user-modal {
    margin-top: 10px;
}

.user-modal .user-modal__name {
    font-size: 14px;
    padding: 13px;
    font-weight: 500;
    border-bottom: 1px solid rgba(64, 80, 108, .1);
    width: 200px;
    padding-left: 17px;
}

.user-modal .user-modal__subname {
    display: block;
    margin-top: 2px;
    font-size: 12px;
    color: #657389;
    font-weight: 400;
}

.user-modal .user-modal__favorite {
    padding: 13px;
    font-size: 13px !important;
    line-height: 1 !important;
    cursor: pointer;
    border-bottom: 1px solid rgba(64, 80, 108, .1);
    padding-left: 17px;
}

.user-modal .user-modal__log-out {
    padding: 17px;
    font-size: 13px !important;
    color: #657389;
    line-height: 1 !important;
    cursor: pointer;
    padding-left: 17px;
}

.MuiPopover-paper {
    overflow-y: visible !important;
    overflow-x: visible !important;
}

.MuiPaper-root::after {
    content: "";
    position: absolute;
    right: 45%;
    top: -14px;
    border: 7px solid transparent;
    border-bottom-color: #fff;
}

.favorite__icon {
    font-size: 30px !important;
    color: rgb(190, 54, 54) !important;
}

.MuiPaper-rounded {
    border-radius: 8px !important;
    border: 0px;
    box-shadow: 0 1px 2px 0 rgba(64, 80, 108, .2), 0 0 24px -1px rgba(64, 80, 108, .2) !important;
}

.user-anchor__img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 100%;
}

.user-anchor__name {
    font-size: 17px;
}

.search .search__field {
    background: rgba(255, 255, 255, 0.6);
    border: 0px;
    width: 200px;
    height: 38px;
    padding: 4px 5px;
    outline: none;
}

.main__social-text {
    font-weight: 300;
    font-size: 19px;
    line-height: 28px;
}